@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
.old-standard {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-style: normal;
}